.logo {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 40px;
    color: white;
    font-weight: bold;
}

.status {
    padding: 4px 10px;
    color: white;
    font-weight: bolder;
}

.status-initialized{
    background-color: #607D8B;
}

.status-initialized:after {
    content: 'Initialized';

}

.status-running {
    background-color: #4CAF50;
}

.status-running:after {
    content: 'Running';

}

.status-deploying {
    background-color: #03A9F4;
}

.status-deploying:after {
    content: 'Deploying';

}

.status-stopped {
    background-color: #616161;
}

.status-stopped:after {
    content: 'Stopped';

}